div {
    text-align: center;
}

li {
    list-style: none;
    font-size: 20px;
}

* {
    text-align: center;
}

body {
    background-color: white;
}

.msg {
    background-color: tomato;
    border-radius: 10px;
}